@*Cuando queremos que nuestra vista sea una pagina razor, 
debemos de agregar esta directiva al inicio de la paginas*@
@page
@model IndexModel

@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
    <div class="col-12">
        <img src="~/img/contactos.jpg" class="img-fluid col-8 offset-2 mt-3"/>
    </div>
</div>