@page
@model AgendaContactos.Pages.Categories.DetailModel

@{
    ViewData["Title"] = "Detalle de la categoria";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-8 offset-2">
            <h2 class="text-info mb-2">
                Detalles de la categoria: @Model.Category.Id
            </h2>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Id: </strong>@Model.Category.Id
                </li>
                <li class="list-group-item">
                    <strong>Nombre: </strong>@Model.Category.Name
                </li>
                <li class="list-group-item">
                    <strong>Fecha de creacion: </strong>@Model.Category.CreationDate
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <a asp-page="Index" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
</div>