@page
@model AgendaContactos.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Editar categoria";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-8 offset-2">
            <h2 class="text-info">
                Editar categoria
            </h2>

            <form method="post" class="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Category.Id"/>

                <div class="form-group mb-3">
                    <label asp-for="Category.Name" class="form-label"></label>
                    <input asp-for="Category.Name" class="form-control" placeholder="Escribe un nombre..."/>
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Category.CreationDate" class="form-label"></label>
                    <input asp-for="Category.CreationDate" class="form-control"/>
                    <span asp-validation-for="Category.CreationDate" class="text-danger"></span>
                </div>

                <button type="submit" class="text-center btn btn-primary col-12">Editar categoria</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <a asp-page="Index" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}